.about-programs {
  @include mobile;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    @include tablet;

    padding-right: 80px;
  }

  @media (min-width: $desktop-width) {
    @include desktop;

    padding-right: 0;
    padding-bottom: 25px;
  }
}

.about-programs__title {
  font-family: $font-title;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 400;
  color: $color-title-main;
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 32px;
  }
}
