.about-programs {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 25px;
  }
}

.about-programs__title {
  font-family: $font-title;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 400;
  color: $color-title-main;
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 32px;
  }
}
