.about-list {
  list-style-type: none;
  padding: 0;
  padding-bottom: 49px;
  margin: 0;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 37px 138px;
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    padding-bottom: 0;
  }
}

.about-list__item {
  display: flex;
  align-items: center;

  &--healthy {
    --bgi: url("../img/about-programs/about-programs-healthy.svg");
  }

  &--powder {
    --bgi: url("../img/about-programs/about-programs-powder.svg");
  }

  &--eating {
    --bgi: url("../img/about-programs/about-programs-eating.svg");
  }

  &--time {
    --bgi: url("../img/about-programs/about-programs-time.svg");
  }

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    flex-direction: column;
    align-items: start;
    min-height: 280px;
  }
}

.about-list__item::before {
  display: inline-block;
  content: "";
  background: var(--bgi) no-repeat center;
  width: 60px;
  height: 60px;
  margin-right: 21px;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    background-size: 60px 60px;
    width: 80px;
    height: 80px;
    background-color: $color-bg-img;
    margin: 40px 0 32px;
  }
}

.about-list__item p {
  margin: 0;
  z-index: 2;
}

.about-list__item br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.about-list__item-number {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 113px;
    font-family: $font-bg;
    font-size: 280px;
    line-height: 1;
    color: $color-bg-main;
    z-index: 1;
  }
}
