.about-list {
  list-style-type: none;
  padding: 0;
  padding-bottom: 50px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-list__item {
  display: flex;
  align-items: center;
}

.about-list__item::before {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  flex-shrink: 0;
}

.about-list__item--1::before {
  background-image: url("../../img/about-programs/about-programs-icon-1.svg");
}

.about-list__item--2::before {
  background-image: url("../../img/about-programs/about-programs-icon-2.svg");
}

.about-list__item--3::before {
  background-image: url("../../img/about-programs/about-programs-icon-3.svg");
}

.about-list__item--4::before {
  background-image: url("../../img/about-programs/about-programs-icon-4.svg");
}

.about-list__item p {
  margin: 0;
}
