.button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: none;
  width: 280px;
  min-height: 40px;
  font-family: $font-button;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $color-button-text;
  background-color: $color-button-bg;
}

.button--show-all {
  color: $color-button-second-text;
  background-color: $color-button-second-bg;
}

.button--catalog {
  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.button--extra {
  @media (min-width: $tablet-width) {
    width: 632px;
    grid-column: span 2;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    grid-column: span 1;
  }
}

.button--form {
  @media (min-width: $tablet-width) {
    width: 282px;
    min-height: 52px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}
