.catalog-list {
  display: grid;
  row-gap: 19px;
  list-style-type: none;
  margin: 0 0 36px;
  padding: 0;
}

.catalog-list__item {
  display: grid;
  row-gap: 13px;
  padding: 11px 0 14px;
}

.catalog-list__link {
  display: grid;
  row-gap: 18px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 41px 1fr;
  min-height: 112px;
  text-decoration: none;
  color: $special-dark-grey;
}

.catalog-list__image-container {
  grid-row: span 2;
  margin: auto;
}

.catalog-list__title {
  font-family: "Oswald regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.catalog-list__table {
  border-collapse: collapse;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.catalog-list__table-value {
  text-align: end;
}
