.catalog-list {
  display: grid;
  row-gap: 0;
  grid-template-rows: repeat(auto-fit, minmax(210px, max-content));
  list-style-type: none;
  margin: 0 0 25px;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include tablet;

    grid-template-columns: 324px 324px;
    gap: 60px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    @include desktop;

    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    row-gap: 63px;
    margin-bottom: 72px;
  }
}

.catalog-list__br-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog-list__br-tablet {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.catalog-list__item {
  border-top: 1px solid $color-border-catalog;

  &:last-child {
    border-bottom: 1px solid $color-border-catalog;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.catalog-list__item-wrapper {
  display: grid;
  row-gap: 12px;
  padding: 20px 0 23px;
  height: 100%;
  min-height: 208px;

  @media (max-width: $mobile-width-only) {
    @include mobile;
  }

  @media (min-width: $tablet-width) {
    padding: 8px 36px 39px;
    row-gap: 33px;
    background: linear-gradient($color-bg-light 0, $color-bg-light 81px, $color-bg-main 81px);
  }

  @media (min-width: $desktop-width) {
    padding: 0 35px 40px 40px;
  }
}

.catalog-list__item-wrapper--more {
  padding: 25px 0 22px;
  height: 100%;

  @media (min-width: $tablet-width) {
    background: $color-bg-light;
    padding: 0;
  }
}

.catalog-list__item-border {
  @media (min-width: $tablet-width) {
    margin-top: 82px;
    padding: 50px 0 38px;
    border: 2px solid $color-border-more;
    display: grid;
  }

  @media (min-width: $desktop-width) {
    margin-top: 79px;
  }
}

.catalog-list__link {
  display: grid;
  row-gap: 12px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 41px 1fr;
  min-height: 112px;
  text-decoration: none;
  color: $color-link-second;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 67px auto;
    row-gap: 13px;
    justify-items: center;
    min-height: 391px;
  }

  @media (min-width: $desktop-width) {
    min-height: 398px;
    grid-template-rows: 196px 77px auto;
    row-gap: 15px;
  }
}

.catalog-list__image-container {
  grid-row: span 2;
  margin: auto;

  @media (min-width: $tablet-width) {
    grid-row: span 1;
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.catalog-list__image {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.catalog-list__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $color-title-catalog;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin-top: auto;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.05;
  }
}

.catalog-list__table {
  border-collapse: collapse;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.33;
  min-height: 43px;
  border-spacing: 0;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    margin-bottom: auto;
  }
}

.catalog-list__table tr {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color-border;
    height: 32px;
  }
}

.catalog-list__table td {
  padding: 0;
}

.catalog-list__table-value {
  text-align: end;
}

.catalog-list__text-big {
  font-family: $font-second;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-second;
  margin: 0 0 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 24px;
  }
}

.catalog-list__text-small {
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: $color-text-main;
  margin: 0 0 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.12;
    margin-bottom: 85px;
  }
}

.catalog-list__text-big br,
.catalog-list__text-small br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.catalog-list__button-more {
  display: block;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
  margin: 0 auto 24px;
  background-color: $color-bg-light;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: $color-button-more;

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 30px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }
}
