.example {
  background-color: $color-bg-example;

  @media (min-width: $tablet-width) {
    min-height: 1077px;
    background: linear-gradient($color-bg-light 0, $color-bg-light 620px, $color-bg-example 620px);
  }

  @media (min-width: $desktop-width) {
    min-height: 641px;
    background: linear-gradient($color-bg-light 0, $color-bg-light 180px, $color-bg-example 180px);
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    min-width: 436px;
  }
}

.example__title {
  font-family: $font-title;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 400;
  color: $color-title-main;
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin: 43px 0 148px;
  }
}

.example__description {
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.example__description br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.example__viewport-container {
  @include mobile;

  padding: 25px 0 40px 0;

  @media (min-width: $tablet-width) {
    @include tablet;

    padding: 42px 0 55px;
  }

  @media (min-width: $desktop-width) {
    @include desktop;

    display: flex;
    gap: 157px;
    padding-top: 0;
    padding-bottom: 65px;
  }
}
