.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-bg-main;
  position: relative;
}

.footer__contacts {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 26px 20px;
  background-color: $color-bg-light;

  @media (min-width: $tablet-width) {
    padding: 60px 70px 60px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    height: 198px;
    padding: 56px 80px;
  }
}

.footer__contacts-invitation {
  font-family: $font-second;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-text-dark;
  margin: 0;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.3;
  }
}

.footer__contacts-address {
  line-height: 1.43;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
  }
}

.footer__map {
  width: 100%;
  height: 362px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    height: 400px;
    margin-bottom: 58px;
  }
}

.footer__map iframe {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 58px;
  }
}

.footer__logo {
  height: 24px;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px 22px;
  text-decoration: none;
  color: $color-link-second;
  font-size: 16px;
  line-height: 1.13;

  @media (min-width: $tablet-width) {
    width: 163px;
    height: 34px;
    padding: 0;
  }
}
