.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 17px;
  min-height: 65px;

  @include mobile;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
    min-height: 76px;
    padding: 0 30px;

    @include tablet;
  }

  @media (min-width: $desktop-width) {
    min-height: 112px;
    padding: 0 110px;

    @include desktop;
  }
}

.header__logo,
.header__title {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__logo--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 94px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__logo--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-right: 540px;
  }
}
