.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0;
  min-height: 65px;

  @media (min-width: $tablet-width) {
    @include tablet;

    flex-direction: row;
    align-items: flex-end;
    min-height: 76px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    @include desktop;

    min-height: 112px;
    padding: 0;
  }
}

.header__logo-wrapper {
  @include mobile;

  display: flex;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  padding-right: 89px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 742px;
  }
}

.header__title {
  margin-top: 5px;
}

.header__logo,
.header__title {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__logo--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 94px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__logo--tablet svg,
.header__logo--desktop svg {
  display: block;
}

.header__logo--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-right: 540px;
  }
}
