.main-form {
  @include mobile;

  display: flex;
  flex-direction: column;
  padding: 27px 0 32px;

  @media (min-width: $tablet-width) {
    @include tablet;

    padding: 60px 35px 72px 40px;
  }

  @media (min-width: $desktop-width) {
    @include desktop;

    padding: 70px 0 82px;
  }
}

.main-form__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: $color-title-main;
  margin: 0 0 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.main-form__text {
  font-family: $font-second;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-text-dark;
  margin: 0 0 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 65px;
  }
}

.main-form__text-required {
  line-height: 1.14;
  color: $color-text-dark;
  margin: 21px auto 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    text-align: left;
  }
}
