.program-options {
  @include mobile;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include tablet;

    margin-bottom: 45px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    @include desktop;

    flex-direction: row;
    gap: 80px;
    margin-bottom: 71px;
  }
}

.program-options__weight-lose,
.program-options__weight-gain {
  background-color: $color-bg-main;
  padding: 21px 20px 18px;
  min-height: 266px;

  @media (min-width: $tablet-width) {
    padding: 77px 315px 53px 52px;
    min-height: 372px;
  }

  @media (min-width: $desktop-width) {
    padding: 42px 50px 55px 52px;
    min-width: 570px;
    min-height: 374px;
  }
}

.program-options__title {
  display: flex;
  align-items: center;
  min-height: 53px;
  font-family: $font-title;
  font-size: 24px;
  line-height: 1.54;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-title-main;
  margin: 0 0 22px 0;
  padding-left: 71px;
  position: relative;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    font-size: 36px;
    line-height: 1;
    min-height: 36px;
    width: auto;
    padding: 0;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 39px 162px;
    min-height: 106px;
    align-items: center;
    width: auto;
  }
}

.program-options__title::before {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.program-options__title--weight-lose::before {
  background-image: url("../img/cat-weight-lose.svg");
  width: 50px;
  height: 53px;
  margin-left: 2px;

  @media (min-width: $tablet-width) {
    right: -252px;
    top: 4px;
    background-size: 200px 211px;
    width: 200px;
    height: 211px;
    margin: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    left: -162px;
    top: 0;
    background-size: 100px 106px;
    width: 100px;
    height: 106px;
    margin: 0 62px 0 0;
  }
}

.program-options__title--weight-gain::before {
  background-image: url("../img/cat-weight-gain.svg");
  width: 67px;
  height: 50px;
  margin-left: -7px;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    right: -285px;
    top: 15px;
    background-size: 268px 200px;
    width: 268px;
    height: 200px;
    margin: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    left: -181px;
    top: 4px;
    background-size: 134px 100px;
    width: 134px;
    height: 100px;
    margin: 0 47px 0 0;
  }
}

.program-options__description {
  margin: 0 0 19px 0;
  padding-bottom: 22px;
  border-bottom: 1px solid $color-border-dark;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 29px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}

.program-options__link {
  font-family: $font-link;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-link;
  margin: 19px 0 0 -1px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 100px;
    background-image: url("../../img/icon-arrow.png");
    background-repeat: no-repeat;
    background-size: 24px 12px;
    width: 24px;
    height: 12px;

    @media (min-width: $tablet-width) {
      top: 9px;
      left: 133px;
    }

    @media (min-width: $desktop-width) {
      top: 9px;
      left: 136px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}
