.site-list {
  list-style-type: none;
}

.site-list__item a {
  text-decoration: none;
  color: $color-text-dark;
  font-family: $font-link;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
}
