.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  min-height: 277px;

  @media (min-width: $tablet-width) {
    min-height: 576px;
  }
}

.slider__image {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 592px;
    height: 511px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.slider__scale {
  margin-top: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 14px;
    height: 40px;
  }
}

.slider__scale-button {
  position: relative;
  cursor: pointer;
  font-family: $font-button;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-text-dark;
  border: none;
  background-color: $color-bg-example;
  margin: 0 15px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 21px 2px 26px;
  }

  @media (min-width: $desktop-width) {
    &:nth-child(1) {
      margin-left: 13px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      border-bottom: 1px dashed $color-link;
      bottom: 3px;
      left: 0;
      width: 47px;
      opacity: 0.24;
    }
  }
}

.slider__scale-button:hover::before {
  border-bottom: 1px solid $color-link;
  opacity: 0.4;
}

.slider__scale-button:active::before {
  border-bottom: none;
}

.slider__scale-input {
  appearance: none;
  width: 84px;
  border-radius: 6px;
  outline: 1px solid $color-border;
  outline-offset: 0;
  border: 3px solid $color-bg-light;
  overflow: hidden;
  height: 12px;
  margin: 0;

  &::-webkit-slider-runnable-track {
    border-radius: 6px;
    height: 6px;
    background-color: $color-bg-light;

    @media (min-width: $tablet-width) {
      background-color: $color-border;
      height: 6px;
    }
  }

  &::-webkit-slider-thumb {
    appearance: none;
    background-color: $color-bg-img;
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    border-color: $color-bg-img;
    box-shadow: -80px 0 0 77px $color-bg-img;

    @media (min-width: $tablet-width) {
      background-color: $color-bg-img;
      width: 34px;
      height: 34px;
      margin-top: -14px;
      border-radius: 50%;
      border: 12px solid $color-bg-light;
      outline: 1px solid $color-border;
      box-shadow: 0 1px 3px 0 $transparent-grey;

      &:hover {
        box-shadow: 0 2px 4px 0 #00000030;
      }

      &:active {
        box-shadow: 0 2px 4px 0 #00000033;
        outline: 1px solid $color-button-bg;
      }
    }
  }

  &::-moz-range-track {
    border-radius: 6px;
    height: 6px;
    background-color: $color-bg-light;

    @media (min-width: $tablet-width) {
      background-color: $color-border;
      height: 6px;
    }
  }

  &::-moz-range-thumb {
    appearance: none;
    background-color: $color-bg-img;
    cursor: pointer;
    width: 4px;
    height: 4px;
    border-radius: 6px;
    border-color: $color-bg-img;
    box-shadow: -80px 0 0 78px $color-bg-img;

    @media (min-width: $tablet-width) {
      background-color: $color-bg-img;
      width: 8px;
      height: 8px;
      margin-top: -14px;
      border-radius: 50%;
      border: 12px solid $color-bg-light;
      outline: 1px solid $color-border;
      box-shadow: 0 1px 3px 0 $transparent-grey;

      &:hover {
        box-shadow: 0 2px 4px 0 #00000030;
      }

      &:active {
        box-shadow: 0 2px 4px 0 #00000033;
        outline: 1px solid $color-button-bg;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 426px;
    height: 40px;
    outline: none;
    border: none;
    background-color: $color-bg-example;
    margin: 0;
  }
}
