.social {
  list-style-type: none;
  margin: 0 auto 43px;
  padding: 0;
  display: flex;
  width: 130px;
  height: 22px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 0;
    height: 33px;
    margin-left: 25px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 23px;

  @media (min-width: $tablet-width) {
    height: 33px;
    width: 30px;
  }
}

.social__link--vkontakte .social__link-svg {
  @media (min-width: $tablet-width) {
    height: 22px;
    width: 30px;
  }
}

.social__link--instagram .social__link-svg {
  @media (min-width: $tablet-width) {
    height: 23px;
    width: 23px;
    margin-left: 5px;
  }
}

.social__link--facebook .social__link-svg {
  @media (min-width: $tablet-width) {
    height: 33px;
    width: 28px;
  }
}
