.social {
  list-style-type: none;
  margin: 0 auto 22px;
  padding: 20px 75px;
  display: flex;
  width: 280px;
  min-height: 63px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-border-dark;
  border-bottom: 1px solid $color-border-dark;

  @media (min-width: $tablet-width) {
    margin: 0;
    height: 34px;
    margin-left: 25px;
    border: none;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 23px;

  @media (min-width: $tablet-width) {
    height: 34px;
    width: 30px;
  }
}

.social__link--vkontakte .social__link-svg {
  @media (min-width: $tablet-width) {
    height: 22px;
    width: 30px;
    margin-bottom: 4px;
  }
}

.social__link--instagram .social__link-svg {
  @media (min-width: $tablet-width) {
    height: 23px;
    width: 23px;
    margin-left: 5px;
  }
}

.social__link--facebook .social__link-svg {
  @media (min-width: $tablet-width) {
    height: 33px;
    width: 28px;
  }
}
